*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.categoria{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 4px 10px;
    color: white;
    border-radius: 18%;
}


.spunta{
    display: inline-block;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    margin-right: 15px;
}

.margine{
    margin-top: 5%;
}

.marginefrasi{
    margin-top: 3px;
}

/* header */

header{
    border-top: 1px solid rgb(214, 214, 214);
    margin-top: 2%;
}

#Logo{
    line-height: 50px;
    vertical-align: middle;
    margin-left: 2%;
    margin-top: 1%;
}

#logo-testo{
    vertical-align: middle;
    color: black;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* main */

main{
    background-color: whitesmoke;
}

#accentramento{
    width: 60%;
    margin: 0 auto;
    background-color: white;
}


#distanziamento{
    margin-top: 10%;
}

#pulsante1{
    padding: 5px 8px;
    display: inline;
    border-radius: 10%;
    background-color: rgb(0, 173, 216);
    text-align: center;
    vertical-align: middle;
    color: white;
}

#pulsante2{
    padding: 5px 8px;
    display: inline;
    border-radius: 10%;
    border-color: rgb(214, 214, 214);
    text-align: center;
    vertical-align: middle;
    color: rgb(214, 214, 214);
}

.verde{
    color: green;
    border: green 1px solid;
}

.rossa{
    color: red;
    border: red 1px solid;
}

.editorial{
    background-color: rgb(0, 173, 216);
}

.q1goals{
    background-color: rgb(97, 44, 97);
}

.recruiting{
    background-color: rgb(84, 170, 84);
}

.mobile{
    background-color: orange;
}

.website{
    background-color: palevioletred;
}

.sales{
    background-color: yellowgreen;
}